{% extends 'el/base.html' %} {% block title %} Delete {% endblock title %}
{%block content%}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Are you sure you want to delete:</p>
          <p class="card-text">
            <strong>
              {{to_delete}} <br />
              {{to_delete.product}}
            </strong>
          </p>
          <form action="" method="post">
            {% csrf_token %}
            <a href="{% url 'el-home' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-danger">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
