{% extends 'el/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Register {% endblock title %}

{%block content%}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header bg-dark text-light">
            <h5>Register</h5>
        </div>
        <div class="card-body">
          <form action="" method="POST">
            {% csrf_token %}
            <p class="card-text">{{form|crispy}}</p>
            <div class="d-flex flex-row justify-content-between">
                <div class="p-2">                    
                    <button type="submit" class="btn btn-secondary btn-sm">Sign Up</button>
                </div>
                <div class="p-2">   
                  <span class="text-muted align-bottom">
                    <small>Already have an account?</small>
                </span>                 
                    <a href="{% url 'el-login' %}" class="btn btn-outline-dark btn-sm">Login</a>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}